/*
 variables
*/
:root {
  --profile-icon-size: 32px;
}

/*
 Eric Meyer reset
 http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
 License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end reset */

/* || Utilities || */
.no-bullets { /* placeholder to demonstrate what a utility class is */
  list-style: none;
}

.flexbox-container {
  display: flex;
}

.hidden {
  display: none;
}

/* || Sitewide || */
html {
  font-size: 100%;
}

body {
  font-size: 20px;
  box-sizing: border-box;
}

body {
  background-color: #f6e8b55c;
  font-family: 'Nunito Sans', sans-serif;
  margin-top: 30px;
}

header {
  margin-bottom: 40px;
  text-align: center;
}

h3 {
  font-size: 2rem;
  border-bottom: 2px solid #c7c7ff;
}

h4 {
  font-size: 1.5rem;
}

a {
  width: fit-content;
}

strong {
  font-weight: bold;
}

small {
  font-size: 0.7rem;
}

footer {
  background-color: #c7c7ff70;
  min-height: 100px;
  padding-left: 40px;
  padding-top: 10px;
}

.site-header-text {
  margin-bottom: 40px;
}

.site-title {
  font-size: 2rem;
}

.main-content-wrapper {
  margin: auto;
  margin-bottom: 100px;
  max-width: 50%;
}

.themed-card {
  border: 2px solid #c7c7ff;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 15px;
}

.themed-padding-large {
  padding: 35px;
}

.home-item-title-container {
  display: flex;
  flex-flow: row wrap;
}

.tag-grouper {
  display: flex;
  flex-flow: row wrap;
  row-gap: 10px;
  margin-bottom: 10px;
}

.link-grouper {
  display: flex;
  flex-flow: column nowrap;
}

.link-grouper > * {
  margin-bottom: 10px;
}

.profile-link-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.profile-link-section > * {
  margin-left: 0.7em;
}

.profile-link-section a {
  max-height: var(--profile-icon-size);
}

.profile-link-wrapper {
  display: flex;
}

/* Alternate version using pseudo element (more appropriate but can't add sparkley class)
 * 
 */
/* thanks https://stackoverflow.com/a/26449654/14257952 */
/*
.profile-link-hover-banner:hover::before {
  background-color: #c7c7ffd1;
  content: attr(name) / "profile";
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
*/
.hide-if-hover {
  opacity: 100;
  position: absolute; /* fix element in place so it doesn't blink on hover */
  top: 0;
  left: 0;
}
.hide-if-hover:hover {
  opacity: 0;
}
.profile-link-hover-banner-text {
  opacity: 0;
}
.profile-link-hover-banner {
  display: flex;  /* fixes extra height caused by ancestor being a flex container */
  pointer-events: none; /* don't activate hover; let parent anchor control hover state
                           thanks https://stackoverflow.com/a/30104683/14257952 */
  opacity: 0;
  background-color: #c7c7fff2;
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: absolute;  /* thanks https://stackoverflow.com/a/26449654/14257952 */
  top: 0;
  left: 0;
}
a:hover .profile-link-hover-banner {
  pointer-events: all;
  opacity: 100;
}
/* show child element's text on banner element hover */
a:hover .profile-link-hover-banner-text {
  opacity: 100;
}
.profile-link-icon {
  max-height: var(--profile-icon-size);
}

.no-underline-anchor {
  text-decoration: none;
}

.language-tag {
  margin-right: 5px;
  padding: 3px;
  height: fit-content;
  width: fit-content;
  background-color: #c7c7ff70;
  color: black;
  border-radius: 6px;
}

.link-new-tab-icon {
  max-height: 0.6em;
  max-width: 0.6em;
}

.hover-motion-parent {
  position: relative;
}

.hover-motion-child {
  transition: .25s cubic-bezier(0.25, 0, 0, 1);
}

/* thanks: https://stackoverflow.com/a/17489945/14257952 */
.hover-motion-parent:hover > .hover-motion-child {
  transform: translate(50%, -50%);
}

@media only screen and (max-width: 750px) {
  .main-content-wrapper {
    max-width: 70%
  }
}

@media only screen and (max-width: 400px) {
  .main-content-wrapper {
    max-width: 90%
  }
}

/* || Home Page || */
.home-nav ul {
  display: flex;
  flex-flow: column nowrap;
}

.home-nav li {
  margin-bottom: 40px;
  margin-left: 30px;
}

.home-nav li > * {
  margin-top: 10px;
}
