:root {
  --row-height: 100px;
}

.game-data-container {
  flex-flow: row nowrap;
}

.game-column {
  flex-flow: column nowrap;
  max-width: 15%;
  min-width: 50px;
  margin-right: 12px;
}

.game-column-header {
  height: 1.5rem;
}

.game-data-item {
  height: var(--row-height)
}

.game-details {
  position: relative;
  top: var(--row-height);
  z-index: -1;
}

.game-image {
  height: 100px;
}

#yr-site-title {
  font-family: 'Fredoka One', cursive;
}
