.game-row {
  flex-flow: row nowrap;
  align-items: center;
  padding: 6px;
}

.game-column {
  margin-right: 12px;
  max-width: 15%;
  min-width: 30px;
  overflow: hidden;
}

.game-image {
  width: 110px;
}

#yr-site-title {
  font-family: 'Fredoka One', cursive;
}
